﻿@model POS.ViewModel.ProductModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Detail Product</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <th>Supplier ID</th>
        <td>@Model.SupplierId</td>
    </tr>
    <tr>
        <th>Category ID</th>
        <td>@Model.CategoryId</td>
    </tr>
    <tr>
        <th>Quantity Per Unit</th>
        <td>@Model.QuantityPerUnit</td>
    </tr>
    <tr>
        <th>Unit Price</th>
        <td>@Model.UnitPrice</td>
    </tr>
    <tr>
        <th>Unit In Stock</th>
        <td>@Model.UnitInStock</td>
    </tr>
    <tr>
        <th>Unit In Order</th>
        <td>@Model.UnitInOrder</td>
    </tr>
    <tr>
        <th>Reorder Level</th>
        <td>@Model.ReorderLevel</td>
    </tr>
    <tr>
        <th>Discontinued</th>
        <td>@Model.Discontinued</td>
    </tr>
</table>