﻿@model POS.ViewModel.ProductModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Edit Supplier</h2>
<form asp-controller="Product" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="ProductName">Product Name</label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger" />
    </div>

    <div class="form-group">
        <label asp-for="SupplierId">Supplier ID</label>
        <select asp-for="SupplierId" class="form-control">
            <option>Pilih Supplier</option>
            <option value="1">Supplier 1</option>
            <option value="2">Supplier 2</option>
        </select>
        <span asp-validation-for="SupplierId" class="text-danger" />
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Category ID</label>
        <select asp-for="CategoryId" class="form-control">
            <option>Pilih Category</option>
            <option value="1">Category 1</option>
            <option value="2">Category 2</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="QuantityPerUnit">Quantity Per Unit</label>
        <input asp-for="QuantityPerUnit" class="form-control" />
        <span asp-validation-for="QuantityPerUnit" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice">Unit Price</label>
        <input asp-for="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="UnitInStock">Unit In Stock</label>
        <input asp-for="UnitInStock" class="form-control" />
        <span asp-validation-for="UnitInStock" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="UnitInOrder">Unit In Order</label>
        <input asp-for="UnitInOrder" class="form-control" />
        <span asp-validation-for="UnitInOrder" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ReorderLevel">Reorder Level</label>
        <input asp-for="ReorderLevel" class="form-control" />
        <span asp-validation-for="ReorderLevel" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Discontinued">Discontinued</label>
        <input asp-for="Discontinued" type="checkbox">
        <span asp-validation-for="Discontinued" class="text-danger" />
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-warning">Update</button>
       </div>
</form>

