﻿@model POS.ViewModel.CustomerModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Detail Customer</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Contact Name</th>
        <td>@Model.ContactName</td>
    </tr>
    <tr>
        <th>Contact Title</th>
        <td>@Model.ContactTitle</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>City</th>
        <td>@Model.City</td>
    </tr>
    <tr>
        <th>Region</th>
        <td>@Model.Region</td>
    </tr>
    <tr>
        <th>Postal Code</th>
        <td>@Model.PostalCode</td>
    </tr>
    <tr>
        <th>Country</th>
        <td>@Model.Country</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th>Fax</th>
        <td>@Model.Fax</td>
    </tr>
</table>